

@media screen  and (max-width: 979px) /* Tablet */ {
span.cls_002 {
    font-size: 150% !important;
}
}

@media screen and (max-width: 500px) /* Mobile */ {
 span.cls_002 {
    font-size: 100% !important;
}
}


  

p{
    font-family: 'Roboto', sans-serif; !important;
    font-weight:600;
	}
.content {
  margin: 40px auto;
    /* margin: 80px auto; */
    /* max-width: 580px; */
}
.accordion__item {
    background: #fffffe;
    border-radius: 4px;
}
.accordion__item:not(:last-child) {
    margin-bottom: 15px;
}
.accordion__header {
    padding: 20px;
    padding-right: 50px;
    font-weight: 600;
    font-size: 1.25rem;
    color: #094067;
    position: relative;
    cursor: pointer;
}
.accordion__header::after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url("https://cdn.statically.io/gist/koptyaisky/33f5da3d9e6b6cacdf5a353ad033c2ea/raw/c8468a17e0141ee82a2571deea1f76162abb47b6/arrow-down-blue.svg") no-repeat center;
    background-size: contain;
    transition: all .4s ease;
}
.accordion__body {
    padding: 0 40px 20px 20px;
    font-weight: 300;
    font-size: 0.875rem;
    color: #5f6c7b;
    line-height: 1.5;
    display: none;
}
.open-accordion .accordion__body {
    display: block;
}
.open-accordion .accordion__header::after {
    transform: rotate(-180deg);
}


span.cls_002 {
    font-family: Arial,serif;
    font-size:295%;
    color: rgb(0,57,93);
    font-weight:bold;
    font-style: bold;
    text-decoration: none;
}
.title1{
     position: absolute;
    left: 13%;
    top: 43%;

}

.title2{
      position: absolute;
    left: 13%;
    top: 60%;
}

.content{
	background-color: #e7ddf1;
	height:100%;
	padding-bottom:10px;
}
.enq{
	    border: solid 20px #e5deec;    background: #e7ddf1;    color: #6b6464;
}